<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=""
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<head>
    <meta charset="utf-8">
    <title>Gestion des Produits</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{ListeProduits}">Gestion de produits</a>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <span sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu">
                <a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{login}">Login</a>
                <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">Logout</a>
                <a class="dropdown-item" href="@{login}">Profile</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories</a>
            <div class="dropdown-menu">
                <a sec:authorize="hasRole('ADMIN')" class="dropdown-item" th:href="@{saveCategorie}">Add Category</a>
                <a class="dropdown-item" th:href="@{ListeCategories}">List Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Products</a>
            <div class="dropdown-menu">
                <a sec:authorize="hasRole('ADMIN')" class="dropdown-item" th:href="@{showCreate}">Add Product</a>
                <a class="dropdown-item" th:href="@{ListeProduits}">List Products</a>
            </div>
        </li>
    </ul>
</nav>
<br>
<br>
<section layout:fragment="Mycontent">
</section>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
